
.content2{
    width: 1800px;
    padding: 5px;
    border: 10px;
    margin-top: 70px;
    margin-bottom: 90px;
    margin-left: 50px;
    margin-right: 50px;
    color: white;   
    font-family: sans-serif;
    height: 750px;
    align-items: center;
}


.title{
    position: absolute;
    color: black;
    padding: 50px 0px;
    font-size: 50px;
    font-family: monospace;
    text-transform: uppercase;
    top: 450px;
    font-family: sans-serif;
    right: 3%;
}

.description{
    position: absolute;
    background-color: #d9b99b;
    top: 15%;
    left: 5%;
    right: 30%;
    font-size: 22px;
    color: black;
    font-family: sans-serif;
    padding: 60px;
    border-radius: 10px;
}

.content2 img{
    position: absolute;
    top: 20%;
    right: 7%;
    border-radius: 50%;
    width: 350px;
    height: 300px;
}